FLASK_ENV=production
SECRET_KEY=[PERLU_DIISI]
APP_URL=https://[PERLU_DIISI]

DATABASE_URL=mysql+pymysql://[USER]:[PASSWORD]@[HOST]:[PORT]/[DATABASE]
CLOUD_SQL_CONNECTION_NAME=[PERLU_DIISI]

MAIL_PROVIDER=smtp
MAIL_FROM_NAME=KelasKita
MAIL_FROM_EMAIL=[PERLU_DIISI]
SMTP_HOST=[PERLU_DIISI]
SMTP_PORT=587
SMTP_USERNAME=[PERLU_DIISI]
SMTP_PASSWORD=[PERLU_DIISI]
SMTP_USE_TLS=true
